#####################################
#
# Local working directories.
#
.DS_Store
xbmc
xbian
stuff
local
static
download
dvbstick
versions
packages
firmware
sponexecs
ffmpeg-win32
ffmpeg-win64
ffmpeg-local
